<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Exemplo Spring MVC com query string</h1>
    <p><label>Nome:</label><span th:text="${nomeAttr}">nome preenchido</span></p>
    <p><label>Idade:</label>
      <span th:text="*{idadeAttr}? *{idadeAttr} : 'não informado' ">idade preenchida</span></p>
  </body>
</html>
