<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>TADS Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../../static/css/estilos.css" th:href="@{/css/estilos.css}" />
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../static/js/funcoes.js" th:src="@{/js/funcoes.js}"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-lg"></i>
          </button>
          <a class="navbar-brand" href="#">TADS Store</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#product">Produtos</a></li>
            <li><a href="#contact">Contato</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container-fluid">
      <div class="jumbotron">
	<div style="background-image: url('./img/bolo2.jpg'); background-size: cover; background-repeat: no-repeat; height: 400px; ">
	  &nbsp;
	</div>
      </div>
    </div>
    <div class="container">
      <div class="row">
	<div class="col-md-6 col-lg-4 well">
	  <h1>Produto</h1>
	  <img src="./img/bolo1.png" class="img-thumbnail">
	  <button type="button" class="btn btn-success btn-lg btn-block">
	    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Comprar</button>
	  <button type="button" class="btn btn-info btn-lg btn-block">
	    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Ver mais</button>
	</div>
      </div>

    </div>
  </body>
</html>
