<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>TADS Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../../static/css/estilos.css" th:href="@{/css/estilos.css}" />
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../static/js/funcoes.js" th:src="@{/js/funcoes.js}"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-lg"></i>
          </button>
          <a class="navbar-brand" href="#">TADS Store</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" th:text="#{menu.home}">Home</a></li>
            <li><a href="#about" th:text="#{menu.sobre}">Sobre</a></li>
            <li><a href="#product" th:text="#{menu.produtos}">Produtos</a></li>
            <li><a href="#contact" th:text="#{menu.contato}">Contato</a></li>
          </ul>
	  <ul>
	    <li><a th:href="@{/produto(lang=pt_BR)}">Português</a></li>
	    <li><a th:href="@{/produto(lang=en)}">English</a></li>
	  </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div layout:fragment="conteudo">
      <div class="container">
	<h1>Template master do TADS Store</h1>
      </div>
    </div>
    <footer style="height: 30px; background-color: #ccc">
      <p>&COPY; Senac 2017</p>
    </footer>
  </body>
</html>
