<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Upload de arquivo</h1>
    <div class="alert alert-success" th:if="${mensagem != null}">
      <h2 th:text="${mensagem}"></h2>
    </div>
    <div class="alert alert-danger" th:if="${mensagemErro != null}">
      <h2 th:text="${mensagemErro}"></h2>
    </div>
    <div>
      <form action="#" th:action="@{/upload}" method="post"
	    enctype="multipart/form-data">
	<input type="file" name="arquivo" />
	<button type="submit">Enviar arquivo</button>
      </form>
    </div>
  </body>
</html>
