<!DOCTYPE html>
<html layout:decorate="~{geral/modelo}">
  <head>
    <title>Carrinho</title>
  </head>
  <body>
    <div layout:fragment="conteudo">
      <div class="container">
	<div class="alert alert-success" th:if="${mensagem != null}">
	  <p th:text="${mensagem}">Mensagem bla bla bla</p>
	</div>
	<table class="table">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Nome</th>
	      <th>Valor</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="item : ${@compraController.carrinho}">
	      <td th:text="${item.id}">ID do produto</td>
	      <td th:text="${item.nome}">Nome do produto</td>
	      <td th:text="${#numbers.formatCurrency(item.preco)}">R$ 99,99</td>
	    </tr>
	  </tbody>
	</table>
	
      </div>
    </div>
  </body>
</html>
